.content {
  max-width: 1184px;
  min-width: 288px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(288px, 1184px);
  grid-template-rows: repeat(6, auto);
  row-gap: 92px;
}

@media screen and (max-width: 800px) {
  .content {
    row-gap: 88px;
  }
}
