.lead__title {
  max-width: 720px;
  margin: 0 0 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

@media screen and (max-width: 720px) {
  .lead__title {
    max-width: 540px;
    margin: 0 0 24px;
    font-size: 48px;
    line-height: 52px;
  }
}

@media screen and (max-width: 540px) {
  .lead__title {
    max-width: 288px;
    margin: 0 0 16px;
    font-size: 40px;
    line-height: 44px;
  }
}
