.intro {
  margin: 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 1200px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 960px) {
  .intro {
    max-width: 768px;
  }
}

@media screen and (max-width: 800px) {
  .intro {
    margin: 0 24px;
  }
}

@media screen and (max-width: 540px) {
  .intro {
    margin: 0 16px;
  }
}
