.intro {
  margin: 0 auto;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 1200px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 960px) {
  .intro {
    max-width: 768px;
  }
}

@media screen and (max-width: 800px) {
  .intro {
    padding: 0 24px;
  }
}

@media screen and (max-width: 540px) {
  .intro {
    padding: 0 16px;
  }
}
