.place {
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto auto;
  grid-template-areas:
      "title link"
      "pic text";
  gap: 40px 48px;
}

@media screen and (max-width: 1200px) {
  .place {
    max-width: 928px;
    grid-template-columns: 440px 456px;
  grid-template-rows: auto auto;
  }
}
